.neweditor-container {
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* justify-content: space-between; */
  align-items: center;
  padding: 3rem 0rem;
  gap: 3rem;
}

.neweditor-image {
  height: 60vh;
}

.neweditor-download-button {
  width: fit-content;
  padding: 10px 20px;
  background: #007bff;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.neweditor-buttons-container {
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9995;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: auto;
  background-color: rgba(0, 0, 0, 0.708);
  padding: 1rem;
  border-radius: 1rem;
}

.pop-over-button {
  position: absolute;
  /* transform: translate(-50%); */
  background-color: #007bff;
  color: white;
  font-weight: 700;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 9995;
  /* bottom: 55px; */
  bottom: 1rem;
  right: 5rem;
  /* left: 50%; */
}
.cover-water-mark {
  position: absolute;
  /* transform: translate(-50%); */
  background-color: #e8e8e8;
  color: white;
  font-weight: 700;
  padding: 1rem;
  /* bottom: 55px; */
  bottom: 0.1rem;
  right: 0rem;
  width: 11rem;
  /* left: 50%; */
}

.neweditor-remove-button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.neweditor-file-input {
  display: none;
}

.neweditor-close-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.neweditor-cover {
  position: absolute;
  bottom: 3px;
  right: 8px;
  width: 12rem;
  height: 1rem;
  background-color: #e8e8e8;
}
.editor-option-close-button {
  background-color: white;
  border: none;
  border-radius: 9999px;
  width: fit-content;
  height: fit-content;
}

@media (max-width: 1450px) {
  .pop-over-button {
    bottom: 0.2rem;
  }
}
@media (max-width: 1310px) {
  .neweditor-buttons-container {
    bottom: 54px;
    left: 60%;
  }
}
@media (max-width: 1080px) {
  .neweditor-buttons-container {
    bottom: 54px;
    left: 70%;
  }
}
@media (max-width: 910px) {
  .neweditor-buttons-container {
    bottom: 11rem;
    left: 70%;
  }
  .pop-over-button {
    bottom: 7rem;
  }
  .cover-water-mark {
    width: 10rem;
  }
}

@media (max-width: 800px) {
  .neweditor-buttons-container {
    bottom: 8rem;
    left: 46%;
  }
  .neweditor-cover {
    bottom: 57px;
    right: 14px;
  }
  .pop-over-button {
    bottom: 4rem;
    right: 8rem;
  }
  .cover-water-mark {
    width: 10rem;
    bottom: 4rem;
  }
}
@media (max-width: 500px) {
  .neweditor-buttons-container {
    display: flex;
    flex-direction: column;
    bottom: 9rem;
    left: 60%;
    z-index: 2;
    width: 250px;
  }
  .pop-over-button {
    bottom: 3.5rem;
    right: 8rem;
  }
}
