html {
  scroll-behavior: smooth;
}

* {
  outline: none;
}

.color-primary {
  color: #35c5af;
}

.fill-primary {
  fill: #35c5af;
}

/* Smooth toggle animation */
.menu,
.sub-menu {
  display: none; /* Hidden by default */
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  max-height: 0;
  opacity: 0;
}

.menu.showen,
.sub-menu.showen {
  display: block;
  max-height: 500px; /* Adjust based on the expected height */
  opacity: 1;
}

.secondary-btn {
  background-color: #17354f !important;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #17354f !important;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.secondary-btn:hover {
  background-color: #fff !important;
  color: #17354f;
}

/* loading spinner styles */
.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.726);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: #35c5af;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: "";
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}
.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 48px;
  }
  100% {
    height: 4px;
  }
}

/* hamburger menu close button */
.close-btn {
  background: transparent;
  border: none;
  outline: none;
}

/* header drawer styles */
.EZDrawer__container {
  z-index: 9999 !important;
}

.aboutsectionsplitedimage {
  max-height: 28rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .aboutsectionsplitedimage {
    max-height: 19rem;
    object-fit: cover;
  }
}
